cachetools==5.3.3
certifi==2024.2.2
chardet==5.2.0
charset-normalizer==3.3.2
colorama==0.4.6
distlib==0.3.8
filelock==3.13.3
google-api-core==2.18.0
google-api-python-client==2.125.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
googleapis-common-protos==1.63.0
httplib2==0.22.0
idna==3.6
iniconfig==2.0.0
oauthlib==3.2.2
packaging==24.0
platformdirs==4.2.0
pluggy==1.4.0
proto-plus==1.23.0
protobuf==4.25.3
pyasn1==0.6.0
pyasn1_modules==0.4.0
pyparsing==3.1.2
pyproject-api==1.6.1
pytest==8.1.1
requests==2.31.0
requests-oauthlib==2.0.0
rsa==4.9
tox==4.14.2
uritemplate==4.1.1
urllib3==2.2.1
virtualenv==20.25.1
